<!DOCTYPE html>
<html>
<head>
<title>Self-replicating App</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'script.js' %}"></script>

</head>
<body>

{% block content %}{% endblock %}
<div class="container">
  <div class="row">
    
    <!-- Tab links -->
    <div class="tab">
      <button id="techspecs-tab" class="tablinks">How it Works</button>
      <button id="requirements-tab" class="tablinks">Requirements</button>
      <button id="installation-tab" class="tablinks">How to Install</button>
      <button id="links-tab" class="tablinks">Helpful Links</button>
    </div>
    
    <!-- Tab content -->
    <div id="requirements" class="tabcontent">
      <h3><span class="glyphicon glyphicon-exclamation-sign"></span> Requirements:</h3>
      <p>In order to run this app, you will first need to install Python 3.7 and a few libraries.</p>
      <p>When installing the app, the following libraries from requirements.txt will be installed:</p>
      <ul>
        <li>Django 2.2.1</li>
        <li>gunicorn 19.9.0</li>
        <li>django-heroku 0.3.1</li>
        <li>requests 2.22.0</li>
      </ul>
      <p>These python libraries will also install their own required libraries, listed below:</p>
      <ul>
        <li>certifi 2019.3.9</li>
        <li>chardet 3.0.4</li>
        <li>dj-database-url 0.5.0</li>
        <li>idna 2.8</li>
        <li>psycopg 2 2.8.2</li>
        <li>pytz 2019.1</li>
        <li>sqlparse 0.3.0</li>
        <li>urllib3 1.25.3</li>
        <li>whitenoise 4.1.2</li>
      </ul>
      <p>To run the app from Heroku (as it is running here), you will also need:</p>
      <ul>
        <li>Git</li>
        <li>A Heroku account</li>
        <li>Heroku CLI</li>
      </ul>
      <p>For more details, see How To Install.</p>
    </div>
    <div id="installation" class="tabcontent">
    <!--<div class="col-md-6">-->
      <h3><span class="glyphicon glyphicon-info-sign"></span> Installation</h3>
      <p>Set up and deploying to Heroku:</p>
      <ul>
        <li>Install Python 3.7 from the <a href="https://www.python.org/downloads/release/python-373/">download page here</a></li>
        <li>You will also need to <a href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git">download and install Git</a> if you do not already have it.</li>
        <li>To set up git for the first time follow the instructions <a href="https://git-scm.com/book/en/v2/Getting-Started-First-Time-Git-Setup">in this guide</a>.</li>
        <li>Download the zip containing the app's code from the GitHub repository and unzip it, or clone it locally with git.</li>
        <li>Open a command prompt in the project root directory (inside selfreplicatingapp-master) and type <code>git init</code> to turn this project into a git repository.</li>
        <li>Next, you will need to <a href="https://www.heroku.com">create a free Heroku account</a>.</li>
        <li><a href="https://devcenter.heroku.com/articles/heroku-cli">Download and install Heroku CLI</a> then in the command prompt opened in the project root directory type
        <code>heroku login</code> so you can connect your heroku app to the project files.</li>
        <li>In the same command prompt, type <code>heroku create my-app-name</code> to create an app using this code in your Heroku account.</li>
        <li>It will display the URL for your app, which youll need for the next step.</li>
        <li>Next we need to get the necessary client IDs to connect to GitHub's API. To do this, follow the prompts to create a new OAuth app on GitHub for this project
        <a href="https://github.com/settings/applications/new">here</a>.</li>
        <li>The homepage URL should be the domain to the app provided by Heroku, for example: "https://my-app-name.herokuapp.com". Set the "Authorization callback URL" to
        the results page of the app. For example, "https://my-app-name.herokuapp.com/results". Hit the button to register this app and you'll be taken to the app's info screen.</li>
        <li>Edit the SETUP.txt file in the root folder of the project by copying and pasting the values for "client_id" and "client_secret" from the app info page on GitHub into the
        labeled spots, then save and close the file.</li>
        <li >Open a command prompt this same folder and type <code>setup.bat</code> to run the batch file. It will run <code>python -m venv venv</code> to create a python virtual environment 
        folder in the project root, then <code>pip install -r requirements.txt</code> to install required python libraries.
        It will also read the Client ID and Client Secret ID you copied to the SETUP.txt file, generate a Secret ID, and paste these values into the settings.py file in the githubapps folder. </li>
        <li>Now that it has been created and set up, you can commit the files by typing <code>git add .</code> and <code>git commit -m "your commit message here"</code>, then deploy it by typing <code>git push heroku master</code>.</li>
        <li>Ensure that at least one instance of the app is running by typing <code>heroku ps:scale web=1</code>.</li>
        <li>Congratulations! The app is now deployed and can be seen using its URL.</li>
        <li>As a handy shortcut, you can open the website from the command prompt as well with <code>heroku open</code>.</li>
      </ul>
      <p>To run the app Locally:</p>
      <ul>
        <li>Type <code>python manage.py collectstatic</code> into the command prompt. This will collect all the static files so that they can be served correctly while running locally.</li>
        <li>Next, type <code>heroku local web -f Procfile.windows</code> if you're using Windows or <code>heroku local web</code> on a Unix system</li>
        <li>Open your web browser  to <a href="http://localhost:5000">http://localhost:5000</a>. You should see your app running locally.</li>
        <li>To stop running, go back to your command prompt window and press Ctrl+C to exit.</li>
      </ul>
    </div>
    <div id="techspecs" class="tabcontent">
      <h3><span class="glyphicon glyphicon-question-sign"></span> How it Works</h3>
      <p>This application was created with Python using Django and deployed on Heroku</p>
      <p>Clicking the replicate button sends a request to GitHub in the form of a URL including the client ID
      assigned to this app after registering it with GitHub, and stating which places the app needs access to.
      For this app, access the user's GitHub profile and public repositories is what is required. It does not,
      however, require the users's password or access to the user's private repositories. A tab will be opened,
      displaying either GitHub's app authorization screen (if the user is already logged in) or a login screen,
      which will take the user to the app authorization screen upon logging in. If the user has already accepted
      access for this app, it will skip this part and immediately move to the next step. Agreeing to accept the app's
      request for access sends the user to the callback URL provided to GitHub when registering the app, which in this
      case should be the results page.</p>
      <p>Along with the callback URL, GitHub also adds a code to the end of the URL that is necessary to exchange for an
      authorization token, which allows the app to use the permission granted by the user to access their profile and
      public repositories. This code is sent to GitHub's API in a request along with the app's client ID and client secret
      ID to exchange for an auth token that will temporarily allow the app access. The token is then used to get the
      authenticated user's username, so the correct URL to the new repository is formed when pushing the app's files to it.</p>
      <p>Using a request containing the auth token, the name of the repository to be created, description, and an option telling it to not auto-initialize
      with a readme file (since we already have one in the project), the new repository is created in the authenticated user's public repositories.
      Then, for each file that will be copied from the app's files, a request is made with the auth token, the user's username, and the path to where the file should go.</p>
      <p>Once the app has finished pushing each of the files to the newly created repository, it will load the results page. If everything has been completed successfuly,
      the results page should have a "Success" message and the log should show success for each step and file copied. If there was an error, the results page will have an
      "Error" message and display the cause of the error in the log. If the repository was created successfully, but there was a problem with copying one or more of the app's
      files to it, then a "Warning" message will be displayed, with the log showing the steps and files that succeeded, as well as identifying the files which failed.</p>
    </div>
    <div id="links" class="tabcontent">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://github.com/H0L0GH05t/selfreplicator">Repository where this app can be downloaded</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku Guide</a></li>
        <li><a href="https://devcenter.heroku.com/articles/heroku-cli">Heroku CLI Download and Installation Guide</a></li>
        <li><a href="https://devcenter.heroku.com/articles/heroku-cli">Heroku Deploying with Git Guide</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku Guide</a></li>
        <li><a href="https://docs.djangoproject.com/en/2.2/intro/tutorial01/">Django 2.2 Introduction Tutorial</a></li>
        <li><a href="https://github.com/settings/apps/authorizations">Review your app authorizations on GitHub</a></li>
        <li><a href="https://github.com/settings/developers">Create or review an OAuth app on GitHub</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
</body>
</html>
