{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="app-logo">
      <img src="{% static 'app-logo.png'%}">
    </a>
    <h1>Self-replicating App</h1>
    <p>This is an application that will copy its own code into a new repository in your GitHub account.</p>
    <a id="execute-btn" type="button" class="btn btn-lg btn-primary" href="https://github.com/login/oauth/authorize?client_id={{client_id}}&scope=public_repo">
      <span class="glyphicon glyphicon-flash execute-btn-text"></span>
      <span class="execute-btn-text" >Replicate app to your GitHub!</span><span class="executed-btn-text hidden-text" >Replicating app...</span>
    </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/H0L0GH05t/selfreplicator"><span class="glyphicon glyphicon-download"></span> View the Source on GitHub</a>
  </div>
</div>

{% endblock %}


